<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/spring_mvc</property>
		<property name="connection.username">root</property>
		<property name="connection.password">dip piyu</property>


		<!-- to define the language of database -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- it is use for automatic create the table -->
		<!-- update means - if table is present then just update it create means 
			- every time create new table -->
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>

		<mapping class="com.entities.User" />

	</session-factory>
</hibernate-configuration>